
@media (max-width: 950px) {
    html {
        font-size: 50%;
    }

    .container article {
        flex-wrap: wrap;
    }
}

@media (max-width: 545px) {
    html {
        font-size: 50%;
    }

    .container header h1 {
        font-size: 6rem;        
    }

    .container header p {
        font-size: 2.7rem;
    }

    .container article {
        flex-wrap: wrap;
    }

    .container footer {
        flex-wrap: wrap;
        padding-bottom: 4rem;
    }
    
}